#!/bin/bash
# chkconfig: 345 85 15
# description: Manages the nginx webserver
# processname: nginx

# SM Nginx Extension init.d script
# github.com/sm/sm-servers

log()  { printf "$*\n" ; return $? ;  }
succeed() { log "$*" ; exit 0 ; }
fail() { log "ERROR: $*" ; exit 1 ; }

usage() {
  log "
  Usage:

    $0 start stop restart reload log shutdown check help [options]

  Options:

    --confd - Path to conf.d file, optional
    --path  - Path to configuration files
    --conf  - Path to nginx.conf
    --pid   - Path to nginx pidfile
    --log   - Path to nginx logs
    --bin   - Path to nginx binary
    --lock  - Path to nginx startup lock file

  Description:

    start    - Start Nginx
    stop     - Stop Nginx
    restart  - Restart Nginx
    reload   - Reload Nginx configuration files in running nginx
    log      - Reopen log files in running nginx
    shutdown - Gracefully shut down workers
    check    - Check Nginx configuration for errors
    help     - Display this usage information
"
}

while [[ $# -gt 0 ]] ; do
  token="$1" ; shift
  case $token in
    (start|stop|restart|reload|log|shutdown|check|status|help)
      action=$token
      ;;
    (--confd) nginx_confd="$1"     ; shift ;;
    (--path)  nginx_path="$1"      ; shift ;;
    (--conf)  nginx_conf="$1"      ; shift ;;
    (--pid)   nginx_pid="$1"       ; shift ;;
    (--log)   nginx_log_path="$1"  ; shift ;;
    (--bin)   nginx="$1"           ; shift ;;
    (--lock)  nginx_lock="$1"      ; shift ;;
    (*)       action="error" ;;
  esac
done

case "$action" in
  (start)    sm nginx start    ;;
  (stop)     sm nginx stop     ;;
  (restart)  sm nginx restart  ;;
  (reload)   sm nginx reload   ;;
  (check)    sm nginx check    ;;
  (status)   sm nginx status   ;;
  (log)      sm nginx log      ;;
  (shutdown) sm nginx shutdown ;;
  (help)     usage    ;;
  (*)        usage ; exit 1 ;;
esac

exit $?
