worker_processes  2;

user {{service_user}} {{service_user}};

error_log {{service_log_path}}/error.log info;
pid       {{service_pid_file}};

events {
  worker_connections  1024;
}

include {{service_config_path}}/http.conf;
include {{service_config_path}}/tcp.conf;

